<div class="mx-auto w-4/6 max-w-7xl sm:px-6 lg:px-8 bg-slate-300 rounded-md">
  <%= link_to "Back", :back %>
  <%# generate an unordered list of  %>
  <img src="<%= formatted_url(params[:image_url]) %>" alt="image" class="w-1/2 mx-auto">
  <%= params[:image_url][1] %>
</div>
